.container {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3c20ad;
    font-size: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table tbody td {
    color: #333;
}

p {
    text-align: center;
    color: #777;
}

.table thead {
    border-bottom: 2px solid #dee2e6;
}
